@import
  "abstracts/modules",
  "base/modules",
  "components/modules",
  "layout/modules";

.grid {
  background-color: darkred;
  max-width: 600px;
  height: 1340px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block {
  background-color: darkblue;
  width: 200px;
  height: 200px;
  margin-top: 20px;
}
